* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_6 {
  width: 100%;
  height: 1024px;
  background: rgba(129,224,207,0.8156862854957581);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_7 {
  width: 100%;
  height: 252px;
  background: rgba(45,101,98,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 7px solid rgba(190,187,186,1);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v11_8 {
  width: 943px;
  height: 752px;
  background: url("../images/v11_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 188px;
  overflow: hidden;
}
.v11_9 {
  width: 100%;
  height: 68px;
  background: rgba(45,101,98,1);
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 0px;
  border: 10px solid rgba(187,186,184,1);
}
.v11_10 {
  width: 402px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 291px;
  left: 548px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_11 {
  width: 154px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v11_12 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 1061px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v19_2 {
  width: 319px;
  height: 258px;
  background: url("../images/v19_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 361px;
  left: 10px;
  overflow: hidden;
}
.v19_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 381px;
  left: 342px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_2 {
  width: 316px;
  height: 342px;
  background: url("../images/v21_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 13px;
  overflow: hidden;
}
.v21_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 687px;
  left: 356px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
