* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_4 {
  width: 100%;
  height: 1085px;
  background: rgba(129,224,207,0.8156862854957581);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_5 {
  width: 100%;
  height: 252px;
  background: rgba(45,101,98,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  border: 7px solid rgba(190,187,186,1);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  overflow: hidden;
}
.v21_6 {
  width: 943px;
  height: 752px;
  background: url("../images2/v21_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 188px;
  overflow: hidden;
}
.v21_7 {
  width: 100%;
  height: 68px;
  background: rgba(45,101,98,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 0px;
  border: 10px solid rgba(187,186,184,1);
}
.v21_8 {
  width: 402px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 291px;
  left: 548px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_9 {
  width: 154px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 80px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_10 {
  width: 299px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 293px;
  left: 1061px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_27 {
  width: 271px;
  height: 366px;
  background: url("../images2/v21_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 10px;
  overflow: hidden;
}
.v21_28 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 353px;
  left: 309px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_30 {
  width: 279px;
  height: 334px;
  background: url("../images2/v21_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 735px;
  left: 10px;
  overflow: hidden;
}
.v21_31 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 767px;
  left: 321px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
